$color_yellow: #FFFEF2;   /* Vogler Gelb  */
$color_yellow2: #EDECB3;  /* Vogler Gelb2 */
$color_green: #467F40;    /* Grün  */
$color_green2: #BFCCAD;   /* Grün2 */
$color_grey: #757575;      /* Grau */
$color_grey2: #292b2c;      /* Grau */
$color_orange: #f3953e;      /* Orange */



// als barbara da:
// 00753B
//
// beste:
// 358241
// 467F40
//
// alternativen:
// 289249
