@font-face {
    font-family: 'nexa_slabbold';
    src: url('../fonts/nexaslab/nexa_slab_boldnexaslab-webfont.eot');
    src: url('../fonts/nexaslab/nexa_slab_boldnexaslab-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexaslab/nexa_slab_boldnexaslab-webfont.woff') format('woff'),
         url('../fonts/nexaslab/nexa_slab_boldnexaslab-webfont.ttf') format('truetype'),
         url('../fonts/nexaslab/nexa_slab_boldnexaslab-webfont.svg#nexa_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
