.columns.is-mobile
  .column.is-half.is-offset-one-quarter

    .box
      %h2.title.is-4 Neue Fewo anlegen
      = form_for @fewo, url: {action: "create"} do |f|
        .field
          %label.label Kapazität
          .control
            .select.is-fullwidth
              = f.select :capacity, options_for_select([["Auswählen...", ""], "1", "2", "3", "4", "5", "6"])

        .field
          .control
            = f.submit 'Fewo anlegen', class: 'button is-primary', type: 'submit'
