.nested-fields
  .field
    %label
    .fields
      .field.nine.wide
        = f.select :brotsorte_id, options_from_collection_for_select(Brotsorte.all, :id, :name, f.object.brotsorte_id), {}, {class: 'ui dropdown'}
      .field.four.wide
        = f.number_field :menge
      .field.two.wide
        = link_to_remove_association '<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, f, {class: 'ui red button',:style => "padding-left:1em;padding-right:1em;"}
