.row.justify-content-center
  .col-md-8.roomy-100
    - if true #Setting["bst_inactive"] == false
      %h2.text-yellow2.m-top-50 Neue Brotbestellung
      - if notice
        %div.ui.segment.text-orange{:style => "background-color: #edecb0"}
          = notice
      - if alert
        %div.ui.segment.text-orange{:style => "background-color: #edecb0"}
          - alert.each do |m|
            = m
            %br
      = render 'form'
    - else
      %h2.text-yellow2.m-top-50 Brotbestellung ist deaktiviert
