#carousel
  .slide-container
    .slide-part.left
      .slide-img{:style => "background-image: url(#{image_path("home/slider/hofladen.jpg")})"}
    .slide-part.right
      %span.fi.flaticon-milk-products
      %h3 Der Hofladen
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Expedita, sint temporibus nihil asperiores?
      %a.btn{:href => "/shop"}
        %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
        zum Hofladen
  .slide-container
    .slide-part.left
      .slide-img{:style => "background-image: url(#{image_path("home/slider/fw.jpg") })"}
    .slide-part.right
      %span.fi.flaticon-farm
      %h3 Ferien auf dem Bauernhof
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, sint temporibus nihil asperiores?
        Perferendis, accusamus.
      %a.btn{:href => "/shop"}
        %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
        zur Ferienwohnung
  .slide-container
    .slide-part.left
      .slide-img{:style => "background-image: url(#{image_path("home/slider/biogas.jpg") })"}
    .slide-part.right
      %span.fi.flaticon-rye
      %h3 Energie aus Biogas!
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, sint temporibus nihil asperiores?
        Perferendis, accusamus.
      %a.btn{:href => "/shop"}
        %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
        zum Biogas
