.row
  .col-md-7.m-top-100.ausbildung-text
    %h1.text-yellow.text-center-sm Ausbildung
    .divider-left.center
    %p
      Seit 1986 bieten wir jungen und interessierten Leuten die Möglichkeit unseren Hof kennenzulernen und Berufserfahrung zu sammeln. Durch mehr als 50 Praktikanten/-innen, Auszubildende und Freiwillig Ökologische Helfer/-innen haben wir auch eine Menge gelernt.
    %p
      Seit 2003 haben wir uns auf die Ausbildung im Bereich Landwirtschaft spezialisiert. Hauptgebiet der Ausbildung liegt in der Milchviehhaltung, im Ackerbau und auch der Biogasanlage.
    %p
      Charly und Barbara haben ein Praktikum bzw. eine Lehre auf verschiedenen Betrieben gemacht und im Anschluss in Hohenheim Landwirtschaft studiert. Sebastian hat in Australien auf verschiedenen Betrieben gearbeitet und im Anschluss Landwirtschaft in Göttingen studiert. Vor dem Einstieg in den Betrieb hat er in der Landesanstalt für Landwirtschaft in München gearbeitet.
  .col-md-4.offset-md-1.bg-yellow2.ausbildung-info-block
    .vertical-align-center
      %h2.text-green
        %span.fi.flaticon-farmer.fi-big
        Wie kannst du dich bei uns bewerben?
      %p.text-green
        Du solltest viel Interesse an der ökologischen Landwirtschaft mitbringen, das BGJ Agrar besucht und möglichst einen Führerschein Klasse T haben.
      %p.text-green
        Am besten rufst Du erstmal an, um dich zu erkundigen, ob noch ein Ausbildungsplatz für die gewünschte Zeit frei ist. Wenn ja – dann schicke uns doch bitte eine vollständige Bewerbung mit Lebenslauf und Zeugnis. Ein gutes Vorstellungsgespräch zum Kennen lernen und ein ca. drei tägiges Probearbeiten finden wir für beide Seiten wichtig.
