.ui.grid
  .sixteen.wide.column.m-top-100
    %h1.text-yellow.text-center Ferien auf dem Voglerhof
    .divider-center
    .img-holder.roomy-50
      .img-item.border-bottom{:style => "background-image: url(#{image_path("home/fewo/fewo1.jpg") })"}
      .img-item.border-bottom{:style => "background-image: url(#{image_path("home/fewo/fewo2.jpg") })"}
      .img-item.border-bottom{:style => "background-image: url(#{image_path("home/fewo/fewo3.jpg") })"}
    %div.text-center{:style => "padding: 0 15%"}
      %p
        Ferien mitten im Grünen und weit ab von Verkehrschaos und der alltäglichen Hektik. Gemütlich Wandern, Radfahren oder die Sehenswürdigkeiten im Weserbergland erkunden. Die Ferienwohnung ist der perfekte Ausgangspunkt.
      %p
        In dem mit Liebe restauriertes Pfarrwitwenhaus gleich am Hofeingang befindet sich die Wohnung. Das gesamte Häuschen inkl. Hofladen wurde 2007 vollkommen kernsaniert und nach Denkmalschutzvorgaben bestmöglich wieder aufgebaut. Die Wohnung verteilt sich über zwei Etagen (1. OG + Dachgeschoss). Im Erdgeschoss befindet sich der Hofladen – gesunde Verpflegung somit garantiert.
  .eight.wide.column.bg-yellow2.m-top-80{:style => "padding: 3% 5%"}
    %h2 Info
    .ui.list.bulleted{:style => 'font-weight: 300;margin-bottom: 3em'}
      .item Die Wohnung: 1. OG + ausgebauter Dachgeschoss
      .item freundliche Wohnküche, mit großem Esstisch und gemütlicher Wohnzimmerecke (inkl. Schlafcouch für 2 Personen)
      .item Schlafzimmer mit Doppelbett
      .item Bad mit Badewanne und Doppelwaschbecken
      .item Flur mit Garderobe und Stauraum für Koffer
      .item Der gesamte Dachboden ist zu einem großen Raum ausgebaut, mit zwei einzelnen Betten und viel Platz zum Spielen.
      .item Zur Ferienwohnung gehört ein kleiner Garten mit Sitzplatz und Unterstellplatz für Fahrräder.

  .eight.wide.column.bg-yellow2.m-top-80{:style => "padding: 3% 5%"}
    %h2 Kosten & Reservierung
    .ui.list{:style => 'font-weight: 300;margin-bottom: 3em'}
      .item Wir bitten vorab um Verständnis, dass wir die Ferienwohnung erst ab zwei Übernachtungen für Gäste zur Verfügung stellen.
      .item Da die Ferienwohnung über zwei Etagen verteilt ist, kann auch nur das 1. OG gemietet werden.
      .item
        %strong 1. OG (1-2 Personen):
        %br
        49,- pro Übernachtung zzgl. Endreinigung 22,- Euro
      .item
        %strong 1. OG + Dachgeschoss (3-4 Personen):
        %br
        59,- pro Übernachtung zzgl. Endreinigung: 22,- Euro
      .item
        Jede weitere Person zzgl. 5,- pro Übernachtung nach Absprache.
    %p.text-green{:style => 'margin-top: 1em'}
      Wir freuen uns, wenn wir Ihr Interesse für die Ferienwohnung wecken konnten. Ihre Fragen bzw. Anfragen können Sie per Telefon, Fax oder E-Mail an uns richten:
      Tel.:  05533 / 1514 | Fax: 05533 / 6215 | E-Mail: voglerhof@freenet.de


:css
  .ui.list .item {
    padding: 0.5em 0;
  }

  .eight p, .eight strong {
    font-size: 1em;
  }
