.ui.grid
  .eight.wide.column.m-top-100{:style => "padding: 0 5%"}
    %h1.text-yellow Der Voglerhof
    .divider-left
    %p.m-top-50
      Übernommen haben wir den Gutshof 1986. Von Anfang an war klar, dass wir den Hof nach Bioland-Richtlinien führen wollen. Es folgten drei Jahr Umstellung und seit 1989 sind wir nun ein Biohof.
    %p
      Zum dem Hof gehören ca. 160 ha Felder und Wiesen, die die Futtergrundlage für die 60 Milchkühe und ihre Nachzucht bilden. Seit 2007 betreiben wir auch eine Biogasanlage, die sich direkt hinter dem Kuhstall befindet.
    %p
      Zu unserem Team gehören unser fester Mitarbeiter sowie ein bis zwei Azubis, unsere Mitarbeiterinnen im Hofladen und saisonale Mitarbeiter.
  .eight.wide.column.m-top-100
    .img-holder
      .img-item.border-bottom{:style => "background-image: url(#{image_path("home/content/content2.jpg") })"}
  .ui.three.column.row
    .column.m-top-100.bg-yellow2.text-green.roomy-80
      .header-container
        .header-image{:style => "background-image: url(#{image_path("home/content/content1.jpg") })"}
        %h2.text-center Biologischen Kontrolle
        .divider-center.text-green
      .text-container{:style => "padding: 0 8%"}
        %p.text-green.m-top-50
          Für unsere Kühe, Rinder und Kälber haben wir in den denkmalgeschützen Gebäuden von 1890 einen artgerechten Boxenlaufstall mit Außenfuttertisch und Laufhof sowie einen Tretmiststall eingebaut – alles nach den Vorgaben von Bioland. Sie können die Zufriedenheit der Tiere beobachten!
        %p.text-green
          Denn den Sommer verbringen die Rinder auf den schönen Hangweiden zwischen Kirchbrak und Linse. Die Kühe genießen den Weidengang auf den Flächen rund um dem Hof.
    .column.m-top-100.bg-yellow2.text-green.roomy-80
      .header-container
        .header-image{:style => "background-image: url(#{image_path("home/content/content3.jpg") })"}
        %h2.text-center Tierhaltung
        .divider-center.text-green
      .text-container{:style => "padding: 0 8%"}
        %p.text-green.m-top-50
          Die Bioland-Regularien, nach denen wir mit Überzeugung arbeiten, heben sich von EU-Bio-Richtlinien durch höhere Ansprüche und klarere Grenzen ab: ein Mehraufwand, der höchste Qualität und Sicherheit erzeugt.
        %p.text-green
          Der landwirtschaftliche Betrieb und der Hofladen werden von der ABCert AG (Ökokontrollstelle 006) überprüft.
    .column.m-top-100.bg-yellow2.text-green.roomy-80
      .header-container
        .header-image{:style => "background-image: url(#{image_path("home/header/bg1.jpg") })"}
        %h2.text-center Wirtschaftsweise vom Hof
        .divider-center.text-green
      .text-container{:style => "padding: 0 8%"}
        %p.text-green.m-top-50
          Die biologische Bewirtschaftung der Felder funktioniert nicht einfach durch Weglassen von chemischen Dünge- und Spritzmitteln:
        %p.text-green
          Um Krankheits- und Schädlingsbefall sowie Unkraut vorzubeugen haben wir eine vielfältige Fruchtfolge mit Ackerfutter, Weizen, Triticale, Möhren, Busch- und Ackerbohnen.
        %p.text-green
          Dem Unkraut versuchen wir mit dem Striegel oder der Maschinenhacke zu regulieren. Die Möhren werden von Hand gejätet. Statt des Risikos chemischer Rückstände schafft dieses Arbeit in unserer Region.
