.ui.grid.relaxed





  .nine.wide.column.m-top-100{:style => "padding: 0 5% 15% 5%"}
    %h1.text-yellow Der Hofladen
    .divider-left
    %p
      Sie finden ihn gleich rechts vor der Hofeinfahrt und werden vielleicht überrascht sein, in einem kleinen Dorf so ein leckeres biologisches Vollsortiment zu finden.
    %p
      Die eigenen Produkte sind Milch, Joghurt und viele verschiedene Sorten Wurst und Fleisch vom Rind.
      Sie werden ergänzt von den regionalen Erzeugnissen unserer Biolandkollegen vom Marienhof und der Familie Bossow mit Gemüse, Kartoffeln, Eiern sowie frischem Brot und Brötchen vom Backhaus Wegener.
    %p
      Vom Naturkosthandel wird das Angebot so abgerundet, dass kaum ein Wunsch offen bleibt - besonders zu nennen ist das geschmackvolle Käsesortiment.
    %p
      Besonders am Herzen liegt dem Hofladenteam, das Sortiment mit den Kundinnen und Kunden zusammen weiter zu entwickeln, Anregungen und Wünsche werden gern aufgenommen. Bei vielen kleinen und großen Kunden gehört „Kühe-und-Trecker-Gucken“ mit zum Einkauf.
    %p
      Hier erleben sie Wachsen und Ernten der Lebensmittel im Jahreslauf!



  .three.wide.column.bg-yellow2{:style => "padding: 0 2% ;margin-bottom: 1rem; display: flex;  align-items: center"}
    .vertical-align-center
      %h2
        %span.fi.flaticon-harvest.fi-big
        Brotbestellung
      %p.text-green
        Sie können online Ihr Brot vorbestellen und am gewünschen Tag bei uns im Hofladen abholen.
      %a.btn{:href => "/shop"}
        %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
        bestellen

  .three.wide.column{:style => "padding-top: 0"}
    .img-holder{:style => "height: 55rem"}
      .img-item{:style => "background-image: url(#{image_path("home/content/hofladen.jpg") })"}
