- content_for :title, "Info & Aktuelles | Voglerhof"

.row
  .col-12.m-top-100{:style => "padding: 0 5%"}
    %h1.text-yellow.text-center-sm Info & Aktuelles
    .divider-left.center
.row
  .col-lg-7.col-md-12{:style => "padding: 0 5%"}
    %p.m-top-50{:style => "font-weight: 400"}
      Sehr geehrte Kundinnen und Kunden,
      %br/
      folgende Rindfleischteile  können Sie zu Weihnachten bestellen:
    %table.table.m-top-50.text-white.infos-table{:style=>"font-size: 1rem; line-height: 1.4rem"}
      %tbody
        %tr
          %td Filet
          %td das Feinste (59,00 €/kg)
        %tr
          %td Roastbeef
          %td als Steaks, Rostbraten (45,00 €/kg)
        %tr
          %td Huft, Bug, Falsches Filet
          %td 
            schöne Braten (24,50 €/kg) (zum Einlegen eignet sich der Corbeau) (das falsche Filet ist grobfasiger als das richtige Filet und in der Verwendung nicht mit ihm zu verwechseln. Es hat eine ähnliche Form)
        %tr
          %td Bug-Mittelstück, Bürgermeisterstück
          %td 
            sehr gut als Siedfleisch (z. B. mit Sahnemeerrettich und Preiselbeeren) oder Schmorfleisch geeignet (28,00 €/kg)
        %tr
          %td Tafelspitz
          %td 
            klassisches Siedfleisch (29,50 €/kg)
        %tr
          %td Rouladen
          %td 
            mit Speckstreifen, Zwiebeln und Gurken – ein Hoch auf fleißige Küchenchefs (29,50 €/kg)
        %tr
          %td Nacken
          %td 
            durchwachsener, saftiger Braten (19,90 €/kg)
        %tr
          %td Beinscheiben
          %td 
            viel mehr als Suppenfleisch! Geschmort  eine Delikatesse. (13,90 €/kg)
        %tr
          %td Brust und Querrippe
          %td 
            Eintöpfe, Brühen, Suppen – ganz was anderes als aus der Tüte! (11,90 €/kg)


  .col-lg-5.col-md-12.mx-md-4.mx-lg-0
    .list-container.border-left{:style => "padding: 5%; width: 90%"}
      %p.text-green
        %span.fa.fa-info-circle{:style=>"margin-right: 5px"}
        Bitte beachten Sie: die Fleischteile sind von einem einjährigen, also sehr jungen Fleckvieh-Kreuzungsrind, das den ganzen Sommer in Westerbrak auf der Weide herumsprang. Die Teile sind deutlich kleiner als die der „üblichen“ Mastbullen. 
        

:css
  .table.infos-table td {
    border-top: 1px solid #dee2e640;
  }