- content_for :title, "Kontakt | Kirchbrak"

.row
  .col-lg-6{:style => "padding: 5%"}
    %h1.text-yellow.too-long So finden Sie uns
    .divider-left
    %p
      %strong
        Barbara, Karl-Heinz und Sebastian Vogler
      %br
      Tiebrink 5
      %br
      37619 Kirchbrak
      %br
      Telefon: +49 5533 1514
      %br
      Telefax: +49 5533 6215
      %br
      E-Mail: info@voglerhof.de
      %br
      Internet: www.voglerhof.de

    %div{:style => "margin-bottom: 1rem"}
      %a{:href => "/", "data-target" => "#impressum", "data-toggle" => "modal"} Impressum
      %span{:style => "padding:  0 5px; color: white;"}
        |
      %a{:href => "/", "data-target" => "#datenschutz", "data-toggle" => "modal"} Datenschutz
    %p{:style => "font-size: 1rem;"}
      Code & Design by
      %a{:href => "http://www.larsknoke.com"} www.larsknoke.com
      &copy; 2019

    .list-container.border-left{:style => "padding: 5%; margin-top: 3rem"}
      Öko-Kontrollstelle: ÖKO DE 006
      %br
      %br
      .sub-logo-container-footer
        %a{:href => "http://www.bioland.de"}
          = image_tag 'home/header/bioland.svg'
        %a{:href => "http://www.bioland.de"}
          = image_tag 'home/header/biosiegel.svg'
        %a{:href => "#"}
          = image_tag 'home/header/eu_bio_logo.svg'
        %a{:href => "https://www.ml.niedersachsen.de/themen/entwicklung_laendlichen_raums/eufoerderprogramme_zur_entwicklung_im_laendlichen_raum/eu-foerderung-in-niedersachsen-147111.html"}
          = image_tag 'eu.png'

    #impressum.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Impressum", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content.border-left
          .modal-header
            %h5.modal-title.text-green Impressum
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %p.text-green
              %strong
                Barbara, Karl-Heinz und Sebastian Vogler
              %br
              Tiebrink 5
              %br
              37619 Kirchbrak
              %br
              Telefon: +49 5533 1514
              %br
              Telefax: +49 5533 6215
              %br
              E-Mail: info@voglerhof.de
              %br
              Internet: www.voglerhof.de
            %p.text-green Bilder & Grafiken: Die Bilder auf diesen Seiten unterliegen dem Copyright. Vor der Verwendung würden wir Sie bitten uns kurz zu kontaktieren.
            %p.text-green Bilder von Produkten aus unserem Hofladen unterliegen dem Copyright der Hersteller.
            %p.text-green Haftungsausschluss: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
            %p.text-green Urheberrecht: Die vorliegenden Inhalte unserer Internetpräsenz sind urheberrechtlich geschützt. Die Verwendung von Texten, Bildern oder Grafiken sowie deren Ausschnitten bedarf der vorherigen schriftlichen Zustimmung.
          .modal-footer
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Schliessen
    #datenschutz.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Datenschutz", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg{:role => "document"}
        .modal-content.border-left
          .modal-header
            %h5.modal-title.text-green Datenschutzerklärung
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %p.text-green
              %strong I. Information über die Erhebung personenbezogener Daten
              %br/
              %br/
              1. Im Folgenden informieren wir über die Erhebung personenbezogener Daten bei Nutzung unserer Website. Personenbezogene Daten sind alle Daten, die auf Sie persönlich beziehbar sind, z. B. Name, Adresse, E-Mail-Adressen, Nutzerverhalten.
              %br/
              %br/
              2. Verantwortlicher gem. Art. 4 Abs. 7 EU-Datenschutz-Grundverordnung (DS-GVO) ist Sebastian Vogler, Tiebrink 5, 37619 Kirchbrak. Unseren Datenschutzbeauftragten erreichen Sie unter info@voglerhof.de oder unserer Postadresse (siehe Impressum) mit dem Zusatz „der Datenschutzbeauftragte“.
              %br/
              %br/
              3. Bei Ihrer Kontaktaufnahme mit uns per E-Mail oder über ein Kontaktformular werden die von Ihnen mitgeteilten Daten (Ihre E-Mail-Adresse, ggf. Ihr Name und Ihre Telefonnummer) von uns gespeichert, um Ihre Fragen zu beantworten. Die in diesem Zusammenhang anfallenden Daten löschen wir, nachdem die Speicherung nicht mehr erforderlich ist, oder schränken die Verarbeitung ein, falls gesetzliche Aufbewahrungspflichten bestehen.
              %br/
              %br/
              4. Falls wir für einzelne Funktionen unseres Angebots auf beauftragte Dienstleister zurückgreifen oder Ihre Daten für werbliche Zwecke nutzen möchten, werden wir Sie untenstehend im Detail über die jeweiligen Vorgänge informieren. Dabei nennen wir auch die festgelegten Kriterien der Speicherdauer.
              %br/
              %br/
              %br/
              %strong II. Ihre Rechte
              %br/
              %br/
              1. Sie haben gegenüber uns folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:
              %br/
              – Recht auf Auskunft,
              %br/
              – Recht auf Berichtigung oder Löschung,
              %br/
              – Recht auf Einschränkung der Verarbeitung,
              %br/
              – Recht auf Widerspruch gegen die Verarbeitung,
              %br/
              – Recht auf Datenübertragbarkeit.
              %br/
              %br/
              2. Sie haben zudem das Recht, sich bei einer Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer personenbezogenen Daten durch uns zu beschweren.
              %br/
              %br/
              %br/
              %strong III. Erhebung personenbezogener Daten bei Besuch unserer Website
              %br/
              %br/
              1. Bei der bloß informatorischen Nutzung der Website, also wenn Sie sich nicht registrieren oder uns anderweitig Informationen übermitteln, erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren Server übermittelt. Wenn Sie unsere Website betrachten möchten, erheben wir die folgenden Daten, die für uns technisch erforderlich sind, um Ihnen unsere Website anzuzeigen und die Stabilität und Sicherheit zu gewährleisten (Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO):
              %br/
              – IP-Adresse
              %br/
              – Datum und Uhrzeit der Anfrage
              %br/
              – Zeitzonendifferenz zur Greenwich Mean Time (GMT)
              %br/
              – Inhalt der Anforderung (konkrete Seite)
              %br/
              – Zugriffsstatus / HTTP-Statuscode
              %br/
              – jeweils übertragene Datenmenge
              %br/
              – Website, von der die Anforderung kommt
              %br/
              – Browser
              %br/
              – Betriebssystem und dessen Oberfläche
              %br/
              – Sprache und Version der Browsersoftware.
              %br/
              %br/
              2. Zusätzlich zu den zuvor genannten Daten werden bei Ihrer Nutzung unserer Website Cookies auf Ihrem Rechner gespeichert. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrer Festplatte dem von Ihnen verwendeten Browser zugeordnet gespeichert werden und durch welche der Stelle, die den Cookie setzt (hier durch uns), bestimmte Informationen zufließen. Cookies können keine Programme ausführen oder Viren auf Ihren Computer übertragen. Sie dienen dazu, das Internetangebot insgesamt nutzerfreundlicher und effektiver zu machen.
              %br/
              %br/
              3. Einsatz von Cookies:
              %br/
              a) Diese Website nutzt folgende Arten von Cookies, deren Umfang und Funktionsweise im Folgenden erläutert werden:
              %br/
              – Transiente Cookies (dazu b)
              %br/
              – Persistente Cookies (dazu c).
              %br/
              b) Transiente Cookies werden automatisiert gelöscht, wenn Sie den Browser schließen. Dazu zählen insbesondere die Session-Cookies. Diese speichern eine sogenannte Session-ID, mit welcher sich verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung zuordnen lassen. Dadurch kann Ihr Rechner wiedererkannt werden, wenn Sie auf unsere Website zurückkehren. Die Session-Cookies werden gelöscht, wenn Sie sich ausloggen oder den Browser schließen.
              %br/
              c) Persistente Cookies werden automatisiert nach einer vorgegebenen Dauer gelöscht, die sich je nach Cookie unterscheiden kann. Sie können die Cookies in den Sicherheitseinstellungen Ihres Browsers jederzeit löschen.
              %br/
              d) Sie können Ihre Browser-Einstellung entsprechend Ihren Wünschen konfigurieren und z. B. die Annahme von Third-Party-Cookies oder allen Cookies ablehnen. Wir weisen Sie darauf hin, dass Sie dadurch eventuell nicht alle Funktionen dieser Website nutzen können.
              %br/
              e) Wir setzen Cookies ein, um Sie für Folgebesuche identifizieren zu können, falls Sie über einen Account bei uns verfügen. Andernfalls müssten Sie sich für jeden Besuch erneut einloggen.
              %br/
              f) Die genutzten Flash-Cookies werden nicht durch Ihren Browser erfasst, sondern durch Ihr Flash-Plug-in. Weiterhin nutzen wir HTML5 storage objects, die auf Ihrem Endgerät abgelegt werden. Diese Objekte speichern die erforderlichen Daten unabhängig von Ihrem verwendeten Browser und haben kein automatisches Ablaufdatum. Wenn Sie keine Verarbeitung der Flash-Cookies wünschen, müssen Sie ein entsprechendes Add-On installieren, z. B. „Better Privacy“ für Mozilla Firefox (https://addons.mozilla.org/de/firefox/addon/betterprivacy/) oder das Adobe-Flash-Killer-Cookie für Google Chrome. Die Nutzung von HTML5 storage objects können Sie verhindern, indem Sie in Ihrem Browser den privaten Modus einsetzen. Zudem empfehlen wir, regelmäßig Ihre Cookies und den Browser-Verlauf manuell zu löschen.
              %br/
              %br/
              %br/
              %strong IV. Einbindung von Google Maps
              %br/
              %br/
              1. Auf dieser Webseite nutzen wir das Angebot von Google Maps. Dadurch können wir Ihnen interaktive Karten direkt in der Website anzeigen und ermöglichen Ihnen die komfortable Nutzung der Karten-Funktion.
              %br/
              %br/
              2. Durch den Besuch auf der Website erhält Google die Information, dass Sie die entsprechende Unterseite unserer Website aufgerufen haben. Zudem werden die unter § 3 dieser Erklärung genannten Daten übermittelt. Dies erfolgt unabhängig davon, ob Google ein Nutzerkonto bereitstellt, über das Sie eingeloggt sind, oder ob kein Nutzerkonto besteht. Wenn Sie bei Google eingeloggt sind, werden Ihre Daten direkt Ihrem Konto zugeordnet. Wenn Sie die Zuordnung mit Ihrem Profil bei Google nicht wünschen, müssen Sie sich vor Aktivierung des Buttons ausloggen. Google speichert Ihre Daten als Nutzungsprofile und nutzt sie für Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung seiner Website. Eine solche Auswertung erfolgt insbesondere (selbst für nicht eingeloggte Nutzer) zur Erbringung von bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks über Ihre Aktivitäten auf unserer Website zu informieren. Ihnen steht ein Widerspruchsrecht zu gegen die Bildung dieser Nutzerprofile, wobei Sie sich zur Ausübung dessen an Google richten müssen.
              %br/
              %br/
              3. Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch den Plug-in-Anbieter erhalten Sie in den Datenschutzerklärungen des Anbieters. Dort erhalten Sie auch weitere Informationen zu Ihren diesbezüglichen Rechten und Einstellungsmöglichkeiten zum Schutze Ihrer Privatsphäre: https://policies.google.com/privacy?hl=de&amp;gl=de. Google verarbeitet Ihre personenbezogenen Daten auch in den USA und hat sich dem EU-US Privacy Shield unterworfen, https://www.privacyshield.gov/EU-US-Framework.
              %br/
              %br/
              %strong V. Einbindung von Google Analytics
              %br/
              %br/
              Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Internetseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link https://tools.google.com/dlpage/gaoptout?hl=de verfügbare Browser-Plugin herunterladen und installieren. Auf unserer Website wurde Google Analytics zudem mit dem Code „gat._anonymizeIP();“ ergänzt, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-masking) sicherzustellen. Außerdem nutzen wir Google Analytics zu dem Zweck, Daten aus dem DoubleClick-Cookie und Adwords statistisch auszuwerten. Wenn Sie hiermit nicht einverstanden sind, können Sie dies über den Anzeigenvorgaben-Manager unter http://www.google.com/settings/ads/onweb/?hl=de ausschalten. Weitere Informationen zum Datenschutz und zu den Nutzungsbedingungen können Sie unter http://www.google.de/intl/de/policies/privacy/ abrufen.
              %br/
              %br/
            %h2.text-green Betroffenenrechte nach Art. 13 DS-GVO
            %p.text-green
              Sehr geehrte Kunden,
              %br/
              nachstehend informieren wir Sie gemäß Art. 13 DS-GVO über die Verarbeitung Ihrer Daten.
              %br/
              %br/
              %strong Name und Kontaktdaten des Verantwortlichen:
              Sebastian Vogler, Tiebrink 5, 37619 Kirchbrak.
              %br/
              %br/
              %strong Kontaktdaten des Datenschutzbeauftragten:
              Bei Rückfragen wenden Sie sich bitte an unseren Datenschutzbeauftragten unter: Voglerhof GbR, Anschrift: s. o., Telefon: +49 5533 1514, E-Mail: info@voglerhof.de.
              %br/
              %br/
              %strong Verarbeitungszwecke und Rechtsgrundlage:
              Die Datenverarbeitung erfolgt zum Zweck der Vertragsabwicklung bzw. zur Entwicklung neuer Geschäftsbeziehungen. Die Verarbeitung Ihrer Daten ist nach Art. 6 Abs. 1 Buchstabe f DS-GVO zur Wahrung unserer berechtigten Interessen oder der eines Dritten erforderlich. Unsere berechtigten Interessen bestehen in er Erfüllung der Leistungen unseres Portfolios.
              %br/
              %br/
              %strong Datenkategorien und Datenherkunft:
              Wir verarbeiten nachfolgende Kategorien von Daten: Stammdaten, Kommunikationsdaten, Vertragsdaten, Forderungsdaten, ggf. Zahlungsinformationen.
              %br/
              Die Daten aus den genannten Datenkategorien wurden uns von kundenseitig übermittelt.
              %br/
              %br/
              %strong Empfänger:
              Wir geben Ihre personenbezogenen Daten nicht an Dritte weiter. Ausgenommen hiervon sind unsere Dienstleistungspartner, wenn dies zur Erfüllung des Vertrages erforderlich ist, wie Paket- und Briefzusteller, Banken für den Einzug von Lastschriften, Finanzbehörden (ggf. weitere Aufzählung wie Auskunfteien etc.)
              %br/
              %br/
              %strong Dauer der Speicherung:
              Die zu Ihrer Person gespeicherten Daten werden nach Erfüllung des Vertrages  und Ablauf von Gewährleistungsfristen nach zwei Jahren gelöscht, sofern keine weiteren gesetzliche Aufbewahrungspflichten entgegenstehen. Solche sind etwa handelsrechtliche und finanzrechtliche Daten. Diese werden den rechtlichen Vorschriften entsprechend nach zehn Jahren gelöscht, soweit keine längeren Aufbewahrungsfristen vorgeschrieben oder aus berechtigten Gründen erforderlich sind. Widerrufen Sie die Einwilligung zur Nutzung Ihrer Daten werden diese unverzüglich gelöscht, sofern oben stehende Gründe nicht dagegen sprechen.
              %br/
              %br/
              Rechte der betroffenen Person: Sie können jederzeit Auskunft über Ihre bei uns gespeicherten Daten oder Berichtigung, Sperrung (Einschränkung der Verarbeitung) und Löschung Ihrer gespeicherten Daten und deren Verarbeitung verlangen. Sofern einer Löschung gesetzliche, vertragliche oder handels- bzw. steuerrechtliche Aufbewahrungsfristen oder sonstige gesetzlich Gründe entgegenstehen, werden Ihre Daten nicht gelöscht, sondern mit einer Sperre versehen.
              %br/
              %br/
              %strong Widerspruchsrecht:
              Ihnen steht ein Widerspruchsrecht gegen die Verarbeitung zu.
              %br/
              %br/
              Der Verwendung Ihrer Daten können Sie jederzeit widersprechen. Den Widerspruch richten Sie bitte an unseren oben genannten Datenschutzbeauftragten.
              %br/
              %br/
              Beschwerderecht bei der Aufsichtsbehörde: Sie haben gemäß Art. 77 DS-GVO das Recht, sich bei der Aufsichtsbehörde zu beschweren, wenn Sie der Ansicht sind, dass die Verarbeitung Ihrer personenbezogenen Daten nicht rechtmäßig erfolgt. Die Anschrift der für unser Unternehmen zuständigen Aufsichtsbehörde lautet:
              %br/
              Die Landesbeauftragte für den Datenschutz Niedersachsen
              %br/
              Prinzenstraße 5
              %br/
              30159 Hannover
              %br/
              Telefon 	0511 120-4500
              %br/
              Fax 	0511 120-4599
              %br/
              Mail 	poststelle@lfd.niedersachsen.de.
              %br/
              %br/
              %strong Bereitstellung der Daten:
              Die Bereitstellung der personenbezogenen Daten ist vertraglich vorgeschrieben oder für einen Vertragsabschluss erforderlich, da wir ohne diese Daten unsere Leistungen nicht erfüllen könnten.
              Werden die erforderlichen personenbezogenen Daten nicht bereitgestellt, hätte dies zur Folge, dass keine Rechnungsstellung und Auslieferung möglich wäre.
              Automatisierte Entscheidungen: Automatisierte Entscheidungen im Einzelfall einschließlich Profiling finden nicht statt.
            %br/
            %br/
            %br/
            %h2.text-green Informationspflichten nach Art. 13 DS-GVO
            %p.text-green
              Bei der Informationspflicht des Verantwortlichen gegenüber der betroffenen Person im Falle der Direkterhebung (Art. 13 DS-GVO) wird zwischen den Informationen unterschieden, die der betroffenen Person mitzuteilen sind (Art. 13 Abs. 1 DGS-GVO) und solchen, die zur Verfügung zu stellen sind, um eine faire und transparente Verarbeitung der personenbezogenen Daten zu gewährleisten (Art. 13 Abs. 2 DS-GVO).
              %br/
              %br/
              %strong Mitzuteilen sind nach Abs. 1:
              %br/
              • Name (ggf. Firmenname gem. § 17 Abs. 1 HGB oder Vereinsname gem. § 57 BGB) und Kontaktdaten des Verantwortlichen sowie ggf. dessen Vertreter
              %br/
              • Kontaktdaten des ggf. vorhandenen Datenschutzbeauftragten
              %br/
              • Zwecke, für die die personenbezogenen Daten verarbeitet werden sollen und zusätzlich die Rechtsgrundlage, auf der die Verarbeitung fußt
              %br/
              • das berechtigte Interesse, insofern die Datenerhebung auf einem berechtigten Interesse des Verantwortlichen oder eines Dritten beruht (Art. 6 Abs. 1 lit. f DS-GVO)
              %br/
              • Empfänger oder Kategorien von Empfängern der personenbezogenen Daten (vgl. Art. 4 Nr. 9 DS-GVO)
              %br/
              • Absicht des Verantwortlichen, die personenbezogenen Daten an ein Drittland oder eine internationale Organisation zu übermitteln und zugleich Information, ob ein Angemessenheitsbeschluss der Kommission vorhanden ist oder nicht (bei Fehlen eines solchen Beschlusses ist auf geeignete oder angemessene Garantien zu verweisen und die Möglichkeit, wie eine Kopie von ihnen zu erhalten ist, oder wo sie verfügbar sind)
              %br/
              %br/
              %strong Zusätzlich zur Verfügung zu stellen sind nach Abs. 2 Informationen über
              %br/
              • die geplante Speicherdauer oder, falls dies nicht möglich ist, die Kriterien für die Festlegung der Speicherdauer,
              %br/
              • die Betroffenenrechte (Auskunfts-, Löschungs-, Einschränkungs- und Widerspruchsrechte sowie das Recht auf Datenübertragbarkeit),
              %br/
              • das Recht zum jederzeitigen Widerruf einer Einwilligung und die Tatsache, dass die Rechtmäßigkeit der Verarbeitung auf Grundlage der Einwilligung bis zum Widerruf unberührt bleibt,
              %br/
              • das Beschwerderecht bei einer Aufsichtsbehörde,
              %br/
              • ggf. die gesetzliche oder vertragliche Verpflichtung des Verantwortlichen, personenbezogene Daten Dritten bereitzustellen und die möglichen Folgen der Nichtbereitstellung der personenbezogenen Daten und
              %br/
              • im Falle einer automatisierten Entscheidungsfindung (einschließlich Profiling) aussagekräftige Informationen über die verwendete Logik, die Tragweite und angestrebten Auswirkungen einer derartigen Verarbeitung
              %br/
              %br/
              %strong Zweckänderung und Übermittlung
              %br/
              Im Falle einer Zweckänderung sind neben der Information über die geänderte Zweckbestimmung sind alle Informationspflichten gemäß Art. 13 Abs. 2 DS-GVO erneut zu erfüllen.
              %br/
              Die Übermittlung an einen Dritten ist häufig eine Zweckänderung, so dass schon aus diesem Grund vor der Übermittlung die betroffene Person entsprechend zu informieren ist. Darüber hinaus stellt Art. 14 Abs. 3 lit. c DS-GVO klar, dass bei der Offenlegung an einen neuen Empfänger (einschließlich Auftragsverarbeitern, vgl. Art. 4 Nr. 9 DS-GVO) informiert werden muss, soweit dieser nicht von der bereits nach Artikel 13 Abs. 1 lit. e DS-GVO erteilten Information über Empfänger oder Empfängerkategorien umfasst ist.
              %br/
              %br/
              %strong Zeitpunkt der Erfüllung der Informationspflichten
              %br/
              Die entsprechenden Informationen müssen zum Zeitpunkt der Erhebung der Daten mitgeteilt bzw. zur Verfügung gestellt werden. Werden die personenbezogenen Daten zur Kommunikation mit der betroffenen Person verwendet, sind die Informationen spätestens zum Zeitpunkt der ersten Kontaktaufnahme mitzuteilen. Falls die Offenlegung an einen anderen Empfänger beabsichtigt ist, müssen die Informationen spätestens zum Zeitpunkt der ersten Offenlegung erteilt werden.
              %br/
              %br/
              %strong Ausnahmen
              %br/
              Die Informationspflichten nach den Art. 13 (und 14) DS-GVO bestehen nicht, wenn und soweit die betroffene Person bereits über die Informationen verfügt. Im Falle der Dritterhebung bestehen darüber hinaus keine Informationspflichten, wenn die Informationserteilung sich z. B. als unmöglich erweist oder einen unverhältnismäßigen Aufwand erfordern würde, die Daten einem Berufsgeheimnis unterliegen oder die Erlangung durch Rechtsvorschrift ausdrücklich geregelt ist.
              %br/
              %br/
              %strong Form der Informationspflicht
              %br/
              Gemäß Art. 12 Abs. 1 DS-GVO sind die Informationen in präziser, transparenter, verständlicher und leicht zugänglicher Form sowie in klarer und einfacher Sprache zu übermitteln. Die Informationen sind schriftlich oder in anderer Form (ggf. elektronisch) zur Verfügung zu stellen. Wird aber auf eine elektronisch verfügbare Information Bezug genommen, dann muss diese leicht auffindbar sein. Hierbei können auch Bildsymbole hilfreich sein.
              %br/
              %br/
              Die leicht zugängliche Form bedeutet auch, dass die Informationen in der konkreten Situation verfügbar sein müssen. Sollen die Daten also von einer anwesenden Person erhoben werden, darf die Person in der Regel nicht auf Informationen im Internet verwiesen werden. Dies gilt gleichermaßen für eine schriftliche Korrespondenz auf dem Papierweg.
              %br/
              %br/
              In einem Ladengeschäft, welches Waren und Dienstleistungen unter Erhebung und Verarbeitung personenbezogener Daten anbietet, können die entsprechenden Hinweise durch Aushang kenntlich gemacht werden. Sofern eine betroffene Person es wünscht, sollten Abdrucke zum Mitnehmen zur Verfügung gestellt werden.
              %br/
              %br/
              Bei telefonischer Bestellung oder Reservierung erscheint eine Sprachwiedergabe der gesamten Transparenzinformation nicht zweckdienlich. Sie könne z.B. als Menüfunktion (Sprachwidergabe bzw. Link per SMS aufs Handy) bereitgestellt werden und ansonsten auf eine (leicht zu merkende) URL verwiesen werden.
              %br/
              %br/
              Gewinnspiele per Postkarte sollen die Kandidaten nicht mit Datenschutzhinweisen überfordern. Zwar müssen die Informationen nicht auf die Postkarte selbst passen (denn diese schickt die betroffene Person unmittelbar wieder weg), ein Zeitschriftenbeileger etwa darf sich aber auf wesentliche Informationen beschränken und für den Rest eine andere Darreichungsform anbieten.
            %br/
            %p.text-green
              %strong Stand 05/2018

          .modal-footer
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Schliessen


  .col-lg-6.no-gutter.gmap
    #map{:style => 'height:100%; width: 100%'}




%script{:async => true, :defer => true, :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyC8qYDTWMyOOt9BKngSCwu_XoMGvArM0xI&callback=initMap"}


:javascript
  /* GOOGLE MAPS */
  function initMap() {

    var myLatLng = {lat: 51.9658124, lng: 9.5735824};

    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      scrollwheel: false,
      zoom: 15
    });

    var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
    });
  }
