%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      Neue Nachricht:
    %p
      %strong
        Name:
        = @name
    %p
      %strong
        Email:
        = @email
    %p
      Telefon:
      = @telefon
    %p
      Nachricht:
      = @text
