.ui.grid.bg-yellow2.roomy-90.border-top
  .ui.grid.container
    .ui.sixteen.column.row.stackable
      .column.six.wide
        %h1
          Kontakt
        %p.text-green
          %strong
            Barbara, Karl-Heinz und Sebastian Vogler
          %br
          Tiebrink 5
          %br
          37619 Kirchbrak
          %br
          Telefon: +49 5533 1514
          %br
          Telefax: +49 5533 6215
          %br
          E-Mail: info@voglerhof.de
          %br
          Internet: www.voglerhof.de
          %br
          %br
          %br
          Öko-Kontrollstelle: ÖKO DE 006
          %br
        .ui.sixteen.column.row
          %a{:href => "http://www.bioland.de"}
            = image_tag 'home/header/bioland.svg', :style => "width: 60px"
          %a{:href => "http://www.bioland.de"}
            = image_tag 'home/header/biosiegel.svg', :style => "width: 70px; margin-left: 15px"


      .column.ten.wide
        %form.ui.form
          .field
            %input{:name => "kontakt[name]", :placeholder => "Name", :type => "text"}/
          .field
            -# %label Name
            .two.fields
              .field
                %input{:name => "kontakt[email]", :placeholder => "Email", :type => "text"}/
              .field
                %input{:name => "kontakt[telefon]", :placeholder => "Telefon", :type => "text"}/
          .field
            -# %label Text
            %textarea{:name => "kontakt[text]", :placeholder => "Nachricht", :type => "text", :rows => 8}

          -# %button.ui.button{:type => "submit"} Submit
          %a.btn.btn-small.pull-right{:href => "/", :style => "width: 100%"}
            %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
            Senden
