/*
 * This is a manifest file that"ll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin"s vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You"re free to add application-wide styles to this file and they"ll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require simple_calendar
 *= require semantic-ui-calendar
 */

@import "semantic-ui";
@import "font-awesome";
@import "slick-theme";
@import "simple-calendar";
@import "selectize";
@import "selectize.bootstrap3";

.ui.menu .item img.logo {
  margin-right: 1em;
}
.main.container {
  margin-top: 7em;
  margin-bottom: 7em;
}

.mieter {
  .content {
    position: relative;
    overflow: hidden;
    > i,
    svg {
      font-size: 8rem;
      position: absolute;
      right: -6px;
      overflow: hidden;
      bottom: -22px;
      opacity: 0.03;
    }
    i.icon {
      margin-right: 0;
    }
  }
}

.ui.modal {
  // position: absolute;
}

.selectize-dropdown .create {
  color: #21ba45 !important;
  padding: 1rem;
}

$text-colors: blue, green, orange, pink, purple, red, teal, yellow, black, grey,
  white;
@each $tc in $text-colors {
  .text.#{$tc} {
    color: #{$tc};
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

.ui.table tr.disabled td, .ui.table tr td.disabled, .ui.table tr.disabled:hover, .ui.table tr:hover td.disabled {
  pointer-events: all
}


/* DATATABLES STYLING */

.ui.input input {
  margin: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  padding: 0.67857143em 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: 0.28571429rem;
  -webkit-transition: box-shadow .1s ease,border-color .1s ease;
  transition: box-shadow .1s ease,border-color .1s ease;
  box-shadow: none;
}

table.dataTable.table {
  margin: 0
}

table.dataTable.table thead th,table.dataTable.table thead td {
  position: relative
}

table.dataTable.table thead th.sorting,table.dataTable.table thead th.sorting_asc,table.dataTable.table thead th.sorting_desc,table.dataTable.table thead td.sorting,table.dataTable.table thead td.sorting_asc,table.dataTable.table thead td.sorting_desc {
  padding-right: 20px
}

table.dataTable.table thead th.sorting:after,table.dataTable.table thead th.sorting_asc:after,table.dataTable.table thead th.sorting_desc:after,table.dataTable.table thead td.sorting:after,table.dataTable.table thead td.sorting_asc:after,table.dataTable.table thead td.sorting_desc:after {
  position: absolute;
  top: 12px;
  right: 8px;
  display: block;
  font-family: Icons
}

table.dataTable.table thead th.sorting:after,table.dataTable.table thead td.sorting:after {
  content: "\f0dc";
  color: #ddd;
  font-size: 0.8em
}

table.dataTable.table thead th.sorting_asc:after,table.dataTable.table thead td.sorting_asc:after {
  content: "\f0de"
}

table.dataTable.table thead th.sorting_desc:after,table.dataTable.table thead td.sorting_desc:after {
  content: "\f0dd"
}

table.dataTable.table td,table.dataTable.table th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

table.dataTable.table td.dataTables_empty,table.dataTable.table th.dataTables_empty {
  text-align: center
}

table.dataTable.table.nowrap th,table.dataTable.table.nowrap td {
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
  vertical-align: middle;
  min-height: 2.7142em
}

div.dataTables_wrapper div.dataTables_length .ui.selection.dropdown {
  min-width: 0
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 13px;
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center
}

div.dataTables_wrapper div.row.dt-table {
  padding: 0
}

div.dataTables_wrapper div.dataTables_scrollHead table.dataTable {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none
}

div.dataTables_wrapper div.dataTables_scrollBody thead .sorting:after,div.dataTables_wrapper div.dataTables_scrollBody thead .sorting_asc:after,div.dataTables_wrapper div.dataTables_scrollBody thead .sorting_desc:after {
  display: none
}

div.dataTables_wrapper div.dataTables_scrollBody table.dataTable {
  border-radius: 0;
  border-top: none;
  border-bottom-width: 0
}

div.dataTables_wrapper div.dataTables_scrollBody table.dataTable.no-footer {
  border-bottom-width: 1px
}

div.dataTables_wrapper div.dataTables_scrollFoot table.dataTable {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none
}
