/*
 * This is a manifest file that"ll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin"s vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You"re free to add application-wide styles to this file and they"ll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require simple_calendar
 *= require semantic-ui-calendar
 */

@import "semantic-ui";
@import "font-awesome";
@import "slick-theme";
@import "simple-calendar";
@import "selectize";
@import "selectize.bootstrap3";

.ui.menu .item img.logo {
  margin-right: 1em;
}
.main.container {
  margin-top: 7em;
}

.mieter {
  .content {
    position: relative;
    overflow: hidden;
    > i,
    svg {
      font-size: 8rem;
      position: absolute;
      right: -6px;
      overflow: hidden;
      bottom: -22px;
      opacity: 0.03;
    }
    i.icon {
      margin-right: 0;
    }
  }
}

.ui.modal {
  // position: absolute;
}

.selectize-dropdown .create {
  color: #21ba45 !important;
  padding: 1rem;
}

$text-colors: blue, green, orange, pink, purple, red, teal, yellow, black, grey,
  white;
@each $tc in $text-colors {
  .text.#{$tc} {
    color: #{$tc};
  }
}
